{
  "env": {
    "development": {
      "plugins": ["transform-flow-strip-types", "styled-components", "transform-runtime"],
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false
          }
        ],
        "react",
        "stage-2"
      ]
    },
    "production": {
      "plugins": [
        "transform-flow-strip-types",
        "styled-components",
        "transform-runtime",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "transform-react-remove-prop-types"
      ],
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false
          }
        ],
        "react",
        "stage-2"
      ]
    },
    "test": {
      "plugins": ["transform-flow-strip-types", "styled-components"],
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ],
        "react",
        "stage-2"
      ]
    }
  }
}
