// successful get sessions
GET http://localhost:3001/api/v1/sessions HTTP/1.1
x-custom-session: active
###

GET http://localhost:3001/api/v1/sessions HTTP/1.1
x-custom-session: inactive
###

// 401 get session
GET http://localhost:3001/api/v1/sessions HTTP/1.1
###

// get users
GET http://localhost:3001/api/v1/users HTTP/1.1
x-custom-session: active
###

// add user
POST http://localhost:3001/api/v1/users HTTP/1.1
x-custom-session: active
content-type: application/json

{
  "id": 3,
  "firstName": "Test",
  "lastName": "User",
  "username": "testuser",
  "email": "testuser@example.com",
  "status": "active"
}
