GET http://localhost:3001/api/v1/sessions?sessionId=active
###

GET http://localhost:3001/api/v1/sessions?sessionId=inactive
###

GET http://localhost:3001/api/v1/users
###

POST http://localhost:3001/api/v1/users HTTP/1.1
content-type: application/json

{
  "id": 10,
  "firstName": "Test",
  "lastName": "User",
  "username": "testuser",
  "email": "testuser@example.com",
  "status": "active"
}
